
/* top of island page */
.island-name {
    padding-bottom: -10px;
}
.island-button-holder {
    padding-bottom: 0px;
}

.island-button-holder button {
    margin: 2px;
}

.delete-prompt, .create-form, .edit-form {
    margin: 0 20vw;
    background-color: var(--offwhite);
    border-radius: 2em;
    margin: 10px 0px;
    padding: 8px;
}

/* no villager prompt style */
.no-villager {
    padding: 20px; 
}
/* villager section of island page */
.villager-islandpagehold {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.delete-villager {
    padding-bottom: 5px;
}
.solo-villager{
    padding: 10px;
    margin: 10px auto;
    background-color: var(--offwhite);
    border-radius: 2em;
}

.villager-image {
    border-radius: 4em;
    max-width: 75%;
}

.villager-hold {
    text-align: center;
}

@media (max-width: 450px) {
h3 {
    font-size: 2.5vh;
}
    p {
    font-size: 3vh;
} 
}