
body {
    background-color: var(--green);
}
.main-container{
    text-align:center;
}

.villager-hold {
    display: flex;
    flex-direction: row;
    justify-content:space-evenly;
    flex-wrap: wrap;
}
.home-villager{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.islandsHolder {
    display: flex;
    flex-direction: column;
}

.island-hold {
    padding: 15px;
    margin: 10px auto;
    background-color: var(--offwhite);
    border-radius: 2em;
    max-width: 50em;
    min-width: 15em;
}
