footer {
	left: 0;
	height: 70px;
	width: 100%;
    font-size: 3vh;
	background-color: var(--darkgreen);
	color: var(--offwhite);
	text-align: center;
	transition: 0.3s;
	text-decoration: none;
	position: fixed;
	bottom: 0px;
	z-index: 1;
}

footer a {
    font-family: Fink;
}

footer:hover {
	background-color: black;
	color: white;
}

footer .link {
	color: (255, 255, 255, 0.3);
	text-decoration: none;
	color: inherit;
	margin: 10px;
}
footer .link:hover {
	color: var(--mediumblue);
	transition: 0.6s;
}

@media (max-width: 500px) { 
	footer{
	display: show;
	position: fixed;
	left: 0;
	bottom: 0;
	width: 100%;
    font-size: 3vh;
	background-color: var(--darkgreen);
	color:white;
	text-align: center;
	z-index: 10;
};

footer:hover {
    display:none;
}
}